@font-face {
    font-family: 'SF Pro Text';
    src: url(./SFProText.ttf);
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
:root{
    --fontxsmall: clamp(12px, 0.8vw, 20px);
    --fontsmall: clamp(14px, 0.9vw, 30px);
    --fontmedium: clamp(16px, 1vw, 30px);
    --fontlarge: clamp(20px, 1.2vw , 40px);
    --fontxl: clamp(24px, 1.4vw, 50px);
    --padlittle: clamp(5px, 0.5vw, 25px);
    --padmedium: clamp(10px, 0.7vw, 30px);
    --padlarge: clamp(15px, 1vw, 100px);
    --padlarger: clamp(20px, 1.2vw, 150px);
    --gap: clamp(0.7rem, 0.8vw, 2rem);
    --gaplarge: clamp(1rem, 1vw, 4rem);
    --radius: clamp(12px, 0.8vw, 30px);
}
button{
    border: none;
}
.fxs{
    font-size: var(--fontxsmall);
}
.fs{
    font-size: var(--fontsmall);
}
.fm{
    font-size: var(--fontmedium);
}
.fl{
    font-size: var(--fontlarge);
}
.pointer{
    cursor: pointer;
}
.cap{
    text-transform: capitalize;
}
.upper{
    text-transform: uppercase;
}
.inter{
    font-family: Inter;
}
.flexsmall{
    display: flex;
    gap: var(--gap);
    align-items: center;
}
.flexlittle{
    display: flex;
    gap: calc(0.5 * var(--gap));
    align-items: center;
}
.bold{
    font-weight: 700;
}
.semibold{
    font-weight: 600;
}
.center{
    text-align: center;
}
.hide{
    opacity: 0;
    position: absolute;
    z-index: -100;
    pointer-events: none;
    transform: translateX(10vw);
}
.hide-element{
    display: none !important;
}
*{
    padding: 0;
    margin: 0;
    line-height: normal;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-style: normal;
}
body{
    background: url(images/background.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.escape{
    position: absolute;
    bottom: calc(3 * var(--gaplarge));
    right: calc(3 * var(--gaplarge));
    z-index: 200;
    font-size: calc( 0.7 * var(--fontsmall));
    color: rgba(255, 255, 255, 0.65);
}
.escape button{
    padding: calc(0.7 * var(--padlittle));
    color: black;
    font-weight: 600;
    margin-right:calc(0.8 * var(--gap));
    border-radius: calc(0.5 * var(--radius));
    border: 0;  
    font-size: calc( 0.7 * var(--fontsmall));
}
/* HOME PAGE */
.container{
    width: 70vw;
    height: 80vh;
    background-color: white;
    color: black;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.container header{
    padding: var(--padmedium);
    text-align: center;
    position: relative;
}
.container header svg{
    height: var(--fontsmall);
    position: absolute;
    left: var(--padmedium);
}
.container nav{
    background: #7C3EFF;
    color: white;
    font-size: var(--fontxl);
    padding: var(--padlittle) var(--padlarger);
    display: flex;
    justify-content: space-between;
}
.container nav div:first-child{
    font-weight: 900;
    letter-spacing: 1.4px;
}
.container nav div:nth-child(2) p{
    padding: calc(0.5 * var(--padlittle)) var(--padmedium);
    cursor: pointer;
    letter-spacing: 0.8px;
}
.container nav div:nth-child(2) p:hover{
    background-color: #DCCBFF;
    border-radius: 21px;
    color: #7C3EFF;
}
.container nav .pressed{
    border-radius: var(--radius);
    background: #A276FF;
    color: white;
}
.container nav div:nth-child(3){
    padding: calc(0.5 * var(--padlittle)) var(--padmedium);
    font-weight: 500;
    border-radius: calc(0.8 * var(--radius));
}
.container nav div:nth-child(3):hover{
    background: #A276FF;
    cursor: pointer;
}
.container nav div:nth-child(3) section p:last-child{
    color: rgba(255, 255, 255, 0.65);
}
.container nav div:nth-child(3) .flexlittle{
    /* width: 2vw;
    aspect-ratio: 1/1; */
    /* border-radius: 9999px; */
}
.container nav .profile-name{
    font-size: calc(1.1 * var(--fontxsmall));
}
.container main{
    flex: 1;
    position: relative;
    background: #EFF2F6;
}
.home{
    width: 100%;
    height: 100%;
}
.homepage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 100%;
    height: 100%;
}
.homepage .heroimage{
    position: relative;
}
.homepage .heroimage img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.homepage section:first-child{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: calc(2 * var(--gaplarge));
    padding: calc(2 * var(--padlarger));
}
.homepage button{
    border-radius: calc(2 * var(--radius));
    background: #7C3EFF;
    padding: var(--padmedium) var(--padlarge);
    color: white;
    width: max-content;
    border: none;
    letter-spacing: 1.9px;
    font-size: var(--fontmedium);
}
.homepage button svg{
    height: var(--padmedium);
}
.homepage button:hover{
    background: #A276FF;
}
.homepage h1{
    color: #3CA5E9;
    font-size: 2.5vw;
    font-weight: 700;
    letter-spacing: 4.94px;
}
.homepage section:first-child p{
    color: #716E6A;
    text-overflow: ellipsis;
    font-family: Outfit;
    font-size: 1.8vw;
    font-weight: 400;
    letter-spacing: 0.9px;
}
.container main .profile-section{
    background-color: white;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 21vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.container main .profile-section .relative{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1.7vw;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
.close-profile-icon{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 1.25vw;
    aspect-ratio: 1/1;
    cursor: pointer;
}
.profile-section h2{
    font-weight: 400;
    color: #716E6A;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 1.5vw;
    letter-spacing: 0.75px;
}
.profile-section h3{
    color: #716E6A;
    text-align: center;
    text-overflow: ellipsis;
    font-size: var(--fontmedium);
    font-weight: 600;
    line-height: 104.5%; /* 20.9px */
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
}
.container main .profile-section .relative .career-info{
    border-radius: var(--radius);
    background: rgba(180, 144, 255, 0.25);
    padding: var(--padlarge);
    color: #7038E5;
    text-shadow: 0px 0px 60px rgba(255, 255, 255, 0.15);
    font-weight: 700;
    letter-spacing: 0.48px;
    display: flex;
    flex-direction: column;
    gap:calc(0.5 * var(--gap));
}
.container main .profile-section .relative .career-info span{
    color: #3D235B;
    text-shadow: 0px 0px 60px rgba(255, 255, 255, 0.15);
    font-weight: 600;
    line-height: 105%; 
    letter-spacing: 0.8px;
}
.profile-rating{
    width: 6vw;
    aspect-ratio: 1/1;
}
.header{
    color: #3CA5E9;
    text-align: center;
    font-size: 1.8vw;
    font-weight: 700;
    letter-spacing: 3.42px;
    margin-bottom: 0.5rem;
}
.favorites{
    width: 100%;
    height: 100%;
}
.favorites-cont, .popular-cont , .singledetails{
    margin: auto;
    width: 83%;
    height: 100%;
    position: relative;
    padding: var(--padlarge);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.favorite-jobs, .popular-jobs{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    height: 65vh;
    overflow-y: scroll;
    padding-right: 1vw;
}
.job, .selectedjob{
    display: flex;
    justify-content: space-between;
    gap: var(--gaplarge);
    padding: 1.3vw;
    border-radius: var(--radius);
    background: #FFF;
}
.job:hover{
    border: 2px solid rgba(127, 50, 218, 0.50);
}
.job .job-details img:first{
    min-width: 7vw;
    aspect-ratio: 1/1;
}
.job-details{
    display: flex;
    gap: var(--gaplarge);
    flex: 4;
    align-items: center;
}
.job-details section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: calc(0.5 * var(--gap));
}
.job-details section h4{
    color: #3C3A36;
    text-overflow: ellipsis;
    font-size: var(--fontmedium);
    font-weight: 700;
    line-height: 104.5%;
    letter-spacing: 0.5px;
}
.job-details h4{
    text-transform: uppercase;
}
.job-details p{
    color: #575756;
    font-size: var(--fontsmall);
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}
.job-details .difficulty{
    color: #3C3A36;
    font-size: var(--fontsmall);
    font-weight: 700;
    line-height: 114%;
    letter-spacing: 0.32px;
    display: flex;
    align-items: center;
    gap: var(--gap);
}
.stars{
    display: flex;
    align-items: center;
    gap: calc(0.3 * var(--gap));
}
.stars img{
    width: var(--fontsmall) !important;
    aspect-ratio: 1/1;
    display: block;
}
.job .last{
    color: #575756;
    text-overflow: ellipsis;
    font-size: var(--fontmedium);
    font-weight: 700;
    line-height: 104.5%;
    letter-spacing: 0.6px;
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}
.last button{
    width: 7vw;
    border: none;
    border-radius: calc(1.5 * var(--radius));
    background: #A276FF;
    padding: var(--padlittle);
    font-family: 'Inter';
    font-size: var(--fontxsmall);
    font-weight: 700;
    letter-spacing: 0.8px;
    color: white;
    cursor: pointer;
    display: none;
}
.last button:hover{
    background: #7C3EFF;
}
.job:hover button{
    display: block;
}
/* JOBS */
.jobs-cont{
    height: 100%;
    position: relative;
    padding: var(--padlarge);
    width: 83%;
    margin: auto;
}
.jobs-container{
    margin-top: var(--gaplarge);
    display: flex;
    justify-content: space-between;
    gap: var(--gaplarge);
}
.search-icon{
    background: rgba(162, 118, 255, 0.50);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--fontxl);
    aspect-ratio: 1/1;
}
.search-icon svg{
    width: var(--fontlarge);
    height: var(--fontlarge);
}
.search-jobs{
    display: flex;
    background-color: white;
    width: 20vw;
    gap: var(--gap);
    border-radius: var(--radius);
    position: absolute;
    top: var(--padlarge);
    overflow: hidden;
}
.search-jobs input{
    border: none;
    outline: none;
    padding: var(--padlittle) 0;
}
.search-jobs input::placeholder{
    color: #716E6A;
    text-overflow: ellipsis;
    font-size: var(--fontsmall);
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0.4px;
}
.jobs-cont .alljobs{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    overflow-y: scroll;
    padding-right: 1vw;
    max-height: 60vh;
}
.jobs-cont .jobfilter{
    width: 25%;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    height: max-content;
}
.jobfilter{
    background-color: white;
    padding: var(--padlarger);
}
.jobfilter h4{
    color: #3C3A36;
    text-overflow: ellipsis;
    font-size: var(--fontmedium);
    font-weight: 700;
    line-height: 104.5%;
    letter-spacing: 0.5px;
}
.jobfilter h5{
    color: #434343;
    text-overflow: ellipsis;
    font-size: var(--fontxsmall);
    font-weight: 700;
    line-height: 104.5%;
    letter-spacing: 0.35px;
    margin-bottom: var(--padlittle);
}
.jobfilter .budget{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.budget input{
    width: 43%;
    border-radius: var(--radius);
    border: 1px solid #808080;
    background: #FFF;
    padding: calc(0.5 * var(--padlittle)) var(--padlittle);
    color: #575756;
    font-size: var(--fontxsmall);
    outline: none;
}
.budget span{
    width: var(--fontxsmall);
    height: 2px;
    background: #808080;
}
.types, .skills{
    display: flex;
    flex-direction: column;
    gap: calc(0.5 * var(--gap));
}
.jobfilter .checkboxes{
    width: max-content;
    color: #575756;;
}
.jobfilter .checkbox{
    display: flex;
    height: var(--fontmedium);
    aspect-ratio: 1/1;
    background: white;
    border: rgba(0, 0, 0, 0.455) 2px solid;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
.jobfilter button{
    width: 100%;
    border-radius: calc(1.8 * var(--radius));
    background: #A276FF;
    color: white;
    border: none;
    padding: var(--padmedium);
    font-family: 'Inter';
    font-size: var(--fontsmall);
    font-weight: 700;
    letter-spacing: 0.8px;
    cursor: pointer;
}
.jobfilter button:hover{
    background: #7C3EFF;
}
.current-jobs{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
.currentjob{
    padding: var(--padmedium);
    border-radius: var(--radius);
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.currentjob:hover .continuejob{
    display: flex;
}
.currentjob .job-details{
    gap: var(--gap);
}
.currentjob img{
    width: 25%;
}
.currentjob h4{
    font-size: var(--fontsmall) !important;
}
.continuejob{
    background: rgba(172, 133, 255, 0.90);
    letter-spacing: 0.8px;
    font-family: 'Inter';
    font-size: var(--fontsmall);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-weight: 700;
    display: none;
}
.single{
    position: relative;
}
.singledetails{
    gap: var(--gap);
    width: 66%;
}
.singledetails .job-details img{
    min-width: 18%;
    /* width: 17.5vh; */
}
.singledetails .job-details section{
    flex: 1;
    height: 100%;
    justify-content: space-between;
}
.singledetails .continue-favorite{
    display: flex;
    justify-content: space-between;
}
.singledetails .continue-favorite button{
    border-radius:calc(2 *  var(--radius));
    padding: var(--padlittle) var(--padlarger);
    background: #A276FF;
    color: white;
    font-family: 'Inter';
    font-size: var(--fontsmall);
    font-weight: 700;
    letter-spacing: 0.8px;
    cursor: pointer;
}
.singledetails .continue-favorite button:hover{
    background: #7C3EFF;
}
.singledetails .continue-favorite .flexlittle{
    color: #7C3EFF;
    font-size: var(--fontxsmall);
    font-weight: 700;
    letter-spacing: 1.33px;
    gap: calc(0.1 * var(--gap));
}
.singledetails .continue-favorite .flexlittle svg{
    height: 1.5vw;
    aspect-ratio: 1/1;
}
.back{
    position: absolute;
    top: 2vw;
    left: 2vw;
    color: #7C3EFF;
    font-size: var(--fontmedium);
    font-weight: 700;
    letter-spacing: 1.9px;
}
.back svg{
    height: var(--fontmedium);
}
.back:hover, .continue-favorite .flexlittle:hover{
    color: #A276FF;
}
.back:hover svg path, .continue-favorite .flexlittle:hover svg path{
    fill: #A276FF;
}
.earnings-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--gap);
}
.earnings-info div{
    padding: var(--padmedium);
    border-radius: var(--radius);
    background: rgba(180, 144, 255, 0.25);
    text-align: center;
    display: flex;
    justify-content: center;
    gap: calc(0.4 * var(--gap));
    flex-direction: column;
    align-items: center;
}
.earnings-info div h4, .rating-completion div h5{
    color: #7038E5;
    text-shadow: 0px 0px 60px rgba(255, 255, 255, 0.15);
    font-size: var(--fontsmall);
    font-weight: 700;
    letter-spacing: 0.48px;
}
.earnings-info div span{
    color: #3D235B;
    text-align: center;
    text-shadow: 0px 0px 60px rgba(255, 255, 255, 0.15);
    font-size: var(--fontmedium);
    font-weight: 500;
    letter-spacing: 0.9px;
}
.rating-completion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
}
.rating-completion div{
    padding: var(--padmedium);
    display: flex;
    text-align: center;
    gap: calc(0.5 * var(--gap));
    flex-direction: column;
    border-radius: var(--radius);
    background: #FFF;
}
.rating-completion .ratings img{
    width: 26%;
    aspect-ratio: 1/1;
    margin: auto;
}
.rating-completion .ratings p{
    color: #3D235B;
    text-shadow: 0px 0px 60px rgba(255, 255, 255, 0.15);
    font-size: var(--fontsmall);
    font-weight: 500;
    line-height: 114%; /* 20.52px */
    letter-spacing: 0.18px;
}
.added-to-favorites{
    position: absolute;
    top: var(--gap);
    right: var(--gap);
    padding: var(--padmedium);
    border-radius: var(--radius);
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.added-to-favorites h4{
    color: #3CA5E9;
    text-overflow: ellipsis;
    font-size: var(--fontlarge);
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0.6px;
}
.added-to-favorites p{
    color: #212121;
    font-size: var(--fontsmall);
    font-weight: 500;
    line-height: 114%; /* 18.24px */
    letter-spacing: 0.4px;
}
.added-to-favorites svg{
    position: absolute;
    top: var(--gap);
    right: var(--gap);
}
.added-to-favorites img{
    width: 23%;
}
@media screen and (max-width: 1500px) {
    .container{
        width: 80vw;
        height: 90vh;
    }
    .currentjob h4{
        font-size: var(--fontxsmall) !important;
    }
    .currentjob .difficulty{
        font-size: var(--fontxsmall);
        gap: calc(0.5 * var(--gap));
    }
    .currentjob .difficulty .stars{
        gap: calc(0.2 * var(--gap));
    }
}
@media screen and (max-height: 700px){
    .favorite-jobs, .popular-jobs{
        height: 60vh;
    }
}
